@CHARSET "UTF-8";
body{
	font-family: Arial, Helvetica, sans-serif; font-family:"雅黑宋体", "微软雅黑", "新宋体", "宋体";
}
table, td{
	font-family: Arial, Helvetica, sans-serif; font-family:"雅黑宋体", "微软雅黑", "新宋体", "宋体";
}
table{width:100%;border-collapse:collapse;}
th, td{text-align:center;padding:.5em;border:1px solid #fff;}
th{background:#3893d3;color:#fff;}
tbody td{background:#e5f1f4;}


tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}

th.over, tr.even th.over, tr.odd th.over{background:#4a98af;}
th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
tr.selected, td.even tr.selected, td.odd tr.selected{background:#bce774;color:#555;}
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}