<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">

	<bean id="toGuestPageAction" class="com.PSMS.Action.toGuestPageAction"
		scope="prototype">
	</bean>
	<bean id="toUserManageAction" class="com.PSMS.Action.toUserManageAction"
		scope="prototype">
	</bean>
	<bean id="toPsManageAction" class="com.PSMS.Action.toPsManageAction"
		scope="prototype">
	</bean>
	<bean id="toInverterManageAction" class="com.PSMS.Action.toInverterManageAction"
		scope="prototype">
	</bean>
	<bean id="toConnectionBookManageAction" class="com.PSMS.Action.toConnectionBookManageAction"
		scope="prototype">
	</bean>

	<bean id="MonitoringAction" class="com.PSMS.Action.MonitoringAction"
		scope="prototype">
		<property name="monitoringService" ref="MonitoringServiceImpl">
		</property>
	</bean>
	<bean id="MonitoringServiceImpl" class="com.PSMS.Service.MonitoringServiceImpl">
	</bean>

	<bean id="everyDayJob" class="com.PSMS.quartz.EveryDayJob"></bean>
	<bean id="everyDayTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="everyDayJob" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>

	<bean id="everyDayTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="everyDayTask" />
		</property>
		<property name="cronExpression">
			<value>0 0 23 * * ?</value>
		</property>
	</bean>

	<bean id="everyHourJob" class="com.PSMS.quartz.EveryHourJob"></bean>
	<bean id="everyHourTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="everyHourJob" />
		</property>
		<property name="targetMethod">
			<value>send</value>
		</property>
	</bean>

	<bean id="everyHourTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="everyDayTask" />
		</property>
		<property name="cronExpression">
			<value>0 0 0/1 * * ?</value>
		</property>
	</bean>
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="everyDayTime" />
				<ref bean="everyHourTime" />
			</list>
		</property>
	</bean>
</beans>